click==7.1.1
Flask==1.1.2
Flask-MySQLdb==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.19
numpy==1.18.3
pandas==1.0.3
pylint==2.4.4
requests==2.23.0
Werkzeug==1.0.1
more-itertools==8.2.0
pycparser==2.20
pyparsing==2.4.7
urllib3==1.25.9
